<!DOCTYPE html>
<head>
    <title>TUTORES Reforço Escolar</title>

    <!-- Required meta tags -->
    <meta charset="utf-8">

    <!-- Styles-->
    <link rel="stylesheet" type="text/css" href="/css/header.css">
    <link rel="stylesheet" type="text/css" href="/css/tutor_main.css">
</head>

<body>

    <header class="header">
        <div class="logoff-pg">
            <a href="/" class="logoff-item">
                <span class="logoff-txt">Clique aqui para fazer logoff</span>
            </a>
        </div>
        <div class="login-pg">
            <a href="/login" class="login-item">
                <span class="login-txt"><p>Bem vindo, <!--Colocar o nome--></p></span>
            </a>
           
        </div>
    </header>

    <nav class="navbar">
        <ul class="navbar-nav">
            <li class="nav-item-img">
                <a href="/">
                    <div class="img"></div>
                </a>
            </li>
            <li class="nav-active">
                <a href="/tutor" class="nav-link">
                    <span class="link-text"><p style="font-size: 10px; margin-top: 30px;">Painel</p><strong>Inicial</strong></span>
                </a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link">
                    <span class="link-text"><p style="font-size: 10px; margin-top: 30px;">Atividade</p><strong>Online</strong></span>
                </a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link">
                    <span class="link-text"><p style="font-size: 10px; margin-top: 30px;">Avaliações &</p><strong>Feedback</strong></span>
                </a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link">
                    <span class="link-text"><p style="font-size: 10px; margin-top: 30px;">Chat de</p><strong>Dúvidas</strong></span>
                </a>
            </li>
        </ul>
    </nav>
    <main>
        <div class="user-inf">
            <div class="user-photo"></div>
            <div class="user-name"><%= nome %><br>TUTOR</div>
        </div>
        <div class="tables">
            <div class="tbl">
                <div class="tbl-title">ALUNO </div>
            </div>
        </div>
    </main>
</body>


<a href="/tutor/add-atv">Adicionar atividade</a>
<!--  ARRUMAR ISSO AQUI
<a href="/tutor/add-atv">Adicionar atividade</a>
Mensagens não lidas:
    <% for (var mensagem of mensagens){ %>
        <% if (mensagem.lida == 0){ %>
            <a href="/tutor/mensagem/<%= mensagem.id %>"><p><%= mensagem.assunto %></p></a>
        <% } %>
    <% } %>

Todas mensagens:
    <% for (var mensagem of mensagens){ %>
        <a href="/tutor/mensagem/<%= mensagem.id %>"><p><%= mensagem.assunto %></p></a>
    <% } %>
-->



